<title>Blogginlägg </title>
{{#if errors}}
<h2 class="titel2">Kunde inte laddas upp pga fel</h2>
{{#each errors}}
<ul>
    <li>{{this}} </li>
</ul>
 
{{/each}}
{{/if}}
{{#if session.isLoggedIn}}
{{#each resultBlogpost}}

<div class="bloggsida">
        <header class="titel2"> {{bloggtitel}} </header>

        <p class="GästbokNamn">{{blogtitel}}</p>
        </a><br>
        <p class="bloggText">{{blogtext}}</p>
        <p>Publicerat {{datum}} utav {{blogförfattare}}         
       <a id="updatebutton" href="/Blog/{{postID}}/update"><button class="btn btn-primary">
               uppdatera</button></a>
        <a id="deletebutton" href="/Blog/{{postID}}/delete"><button class="btn btn-primary">
                ta bort</button></a>
</div>

{{/each}}
{{else}}

{{#each resultBlogpost}}

<div class="bloggsida">
        <header class="titel2"> {{bloggtitel}} </header>

        <p class="GästbokNamn">{{blogtitel}}</p>
        </a><br>
        <p class="bloggText">{{blogtext}}</p>
        <p>Publicerat {{datum}} utav {{blogförfattare}}  

{{/each}}

{{/if}}