<title>Blogg </title>

<header class="titel2">Blogginlägg </header> 
{{#if session.isLoggedIn}}
<a id="createblogbutton" href="/Blog/createBlogPost"><button class="btn btn-primary">Skapa inlägg</button></a>
{{/if}}


{{#if hasDatabaseError}}
<p>Blogginlägg hittades ej</p>

{{else }}

{{#each resultBlog}}
<ul class="blogginlägg">
        <a href="Blog/{{ID}}"><p class="GästbokNamn">{{title}}</p> </a><br>
        <p class="bloggTextLIM">{{text}}</p>
        <p>publicerat {{date}} utav {{writer}} </p>
</ul>

{{/each}}
{{/if}}





