<title>Blogginlägg </title>
{{#if errors}}
<h2 class="titel2">Kunde inte laddas upp pga fel</h2>
{{#each errors}}
<ul>
    <li>{{this}} </li>
</ul>
 
{{/each}}
{{/if}}
{{#if session.isLoggedIn}}
{{#each resultBlogpost}}

<div class="bloggsida">
        <p class="GästbokNamn">{{title}}</p>
        </a><br>
        <p class="bloggText">{{text}}</p>
        <p>Publicerat {{date}} utav {{writer}}         
       <a id="updatebutton" href="/Blog/{{ID}}/update"><button class="btn btn-primary">
               uppdatera</button></a>
        <a id="deletebutton" href="/Blog/{{ID}}/delete"><button class="btn btn-primary">
                ta bort</button></a>
</div>

{{/each}}
{{else}}

{{#each resultBlogpost}}

<div class="bloggsida">


        <p class="GästbokNamn">{{title}}</p>
        </a><br>
        <p class="bloggText">{{text}}</p>
        <p>Publicerat {{date}} utav {{writer}}  

{{/each}}

{{/if}}