<div class="leftmargin">
	{{#if errors}}
	<h2 class="titel2">Kunde inte tas bort pga fel</h2>
	{{#each errors}}
	<ul>
		<li>{{this}} </li>
	</ul>

	{{/each}}
	{{/if}}

	<h1 class="titel2">Ta bort kontaktanmälan </h1>
	<p> Vill du verkligen ta bort kontaktanmälan <span class="bolditalic"> {{resultKontakt.message}}</span> ?</p>
	<p>Inlägget skrevs {{resultKontakt.datue}} utav {{resultKontakt.name}}
		 med telefonnr {{resultKontakt.phonenumber}} och mail {{resultKontakt.email}} . </p>
	<form action="" method="POST">
		 <input type="hidden" name="_csrf" value="{{csrfToken}}">
		<button class="btn" type="submit">Ja, ta bort!</button>
	</form>
</div>