<title>Gästbok </title>

<header class="titel2">Gästbok</header>

{{#if errors}}
<h4 class="titel2"> <br> Kunde inte laddas upp pga fel</h4>
{{#each errors}}
<ul>
    <li>{{this}} </li>
</ul>
 
{{/each}}
{{/if}}


<div class="kommentarform">
    <form id="commentinput" method="POST" action="/gastbok">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <label for="Namn">Namn:</label><br>
        <input type="text" id="namn" name="namn" value={{resultGastbok.name}}><br>
        <label for="text">text:</label><br>
        <textarea rows = "5" cols = "60" name = "text" id="text">{{resultGastbok.text}}</textarea>
        <input type="submit" value="Publicera">
    </form>
</div>



{{#if hasDatabaseError}}
<p>Gästbok hittades ej</p>

{{else }}
{{#if errors}}
{{else}}
{{#if session.isLoggedIn}}
{{#each resultGastbok}}
<ul>
    <tag class="kommentarenhet">
        <p class="GästbokNamn">{{name}}</p>
        <p class="Gästbokkommentar">{{text}}</p>
    </tag>
    <p>skickat {{date}} <span><br><a href="/gastbok/{{ID}}/update">
    <button class="btn">uppdatera</button></a>
        <a  href="/gastbok/{{ID}}/delete">
        <button class="btn">ta bort</button></a> </span></p>

</ul>

{{/each}}

{{else}}
{{#each resultGastbok}}
<ul>
    <tag class="kommentarenhet">
        <p class="GästbokNamn">{{name}}</p>
        <p class="Gästbokkommentar">{{text}}</p>
    </tag>
    <p>skickat {{date}}

</ul>

{{/each}}
{{/if}}


{{/if}}
{{/if}}


