<title>Gastbok </title>


{{#if errors.length}}
<h2 class="titel2">Kunde inte laddas upp pga fel</h2>
{{#each errors}}
<ul>
    <li>{{this}} </li>
</ul>
 
{{/each}}

{{/if}}

<div class="Bloggform">
    <form id="blogginput" method="POST" action="/Gastbok/{{resultGastbok.ID}}/update">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <label for="namn">Namn:</label><br>
        <textarea rows = "1" cols = "20" name = "namn" id="namn" >{{resultGastbok.name}}</textarea>  <br>

        <label for="Titel">Text:</label><br>
        <textarea rows = "5" cols = "60" name = "text" id="text">{{resultGastbok.text}}</textarea>  <br>
        <button class="btn" type="submit" >Ja, uppdatera!</button>
    </form>
</div>






